/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family */
body {
    font-family: 'Palanquin', sans-serif;
}

/* utility classes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.small-button {
    border-radius: 30px;
    padding: 5px 15px 7px 15px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
}

.big-button {
    border-radius: 30px;
    padding: 8px 35px 10px 35px;
    font-size: 20px;
    font-weight: 500;
}

header {
    height: 625px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

nav {
    height: 80px;
}

.nav-logo, .nav-button {
    width: 25%;
    height: 100%;
}

.nav-menu {
    width: 50%;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 15px;
}

.nav-logo > img {
    position: absolute;
    top: 40px;
    left: 10px;
    transform: translate(0, -50%);
}


.nav-button > .small-button {
    position: absolute;
    top: 40px;
    right: 10px;
    transform: translate(0, -50%);
}

li {
    display: inline-block;
    padding: 0 19px;
    font-weight: 700;
}

.jumbo {
    height: 545px;
    position: relative;
}

.centered-container {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.image-title {
    font-size: 56px;
    font-weight: 700; 
}

.image-text {
    padding: 30px 0;
    font-size: 19px;
}

.image-buttons > .big-button {
    display: inline-block;
}

.image-button-left {
    background-color: white;
    color: #23272a;
    margin-right: 10px;
}

.image-button-right {
    background-color: #23272a;
    color: white;
    margin-left: 10px;
}