/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family */
body {
    font-family: 'Palanquin', sans-serif;
}

/* utility classes */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.small-button {
    border-radius: 30px;
    padding: 5px 15px 7px 15px;
    background-color: white;
    font-family: 'Palanquin', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

header {
    height: 625px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

nav {
    height: 80px;
}

.nav-logo, .nav-button {
    width: 25%;
    height: 100%;
}

.nav-menu {
    width: 50%;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 15px;
}

.nav-logo > img {
    position: absolute;
    top: 40px;
    left: 10px;
    transform: translate(0, -50%);
}


.nav-button > .small-button {
    position: absolute;
    top: 40px;
    right: 10px;
    transform: translate(0, -50%);
}

li {
    display: inline-block;
    padding: 0 19px;
    font-weight: 700;
}

.blocco {
    height: 1200px;
    background-color: red;
}